art/**
.vscode/**
.vscode-test/**
.github/**
out/
!out/extension.js
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
.mocharc.js
CHANGELOG.md
eslint.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
scripts/**
node_modules/**
